# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
packages
*.suo
*.user
SharedAssemblyInfo.cs
App.config
development.rb
log.txt

# mstest test results
TestResults
*connectionstrings.config
src/Nebula.MvcApplication/log4net.config
