@{
	ViewBag.Title = "Event Log";
}
<h2>Event Log</h2>
<p>
	Here you can see all gathered log entries.
</p>
<br />
<table id="logSummaryDataTable">
	<thead>
		<tr>
			<th class="jq_dt_hidden">
				Id
			</th>
			<th class="jq_dt_type_json_datetime">
				Date
			</th>
			<th>
				Level
			</th>
			<th>
				Logger
			</th>
			<th class="jq_dt_type_pre_text">
				Message
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
@section sidebar 
{
	@Html.Partial("_SideBar")
}
<script type="text/javascript">
	$(document).ready(function () {
		$('#logSummaryDataTable').dataTable({
			'iDisplayLength': 5,
			'bProcessing': true,
			'bServerSide': true,
			'sAjaxSource': '@Url.Action("PagedLogSummary")',
			'aoColumns': [
				{ 'mDataProp': 'Id' },
				{ 'mDataProp': 'Date' },
				{ 'mDataProp': 'Level' },
				{ 'mDataProp': 'Logger' },
				{ 'mDataProp': 'Message' }
			]
		});
	});
</script>
