@{
	ViewBag.Title = "Event Log";
}
<h2>Event Log</h2>
<p>
	Here you can see all gathered log entries.
</p>
<br />
<table id="logSummaryDataTable">
	<thead>
		<tr>
			<th class="jq_dt_type_json_datetime">
				Date
			</th>
			<th>
				Level
			</th>
			<th>
				Logger
			</th>
			<th class="jq_dt_type_pre_text">
				Message
			</th>
			<td>
			</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<a class="jq_zoom" href=""></a>
<div class="jq_dialog">
</div>
@section sidebar 
{
	@Html.Partial("_SideBar")
}
<script type="text/javascript">
	$(document).ready(function () {

		$('.jq_dialog').dialog({
			title: 'Details of event',
			autoOpen: false,
			resizable: false,
			width: 'AUTO',
			heigth: 540,
			modal: true
		});

		$('#logSummaryDataTable').dataTable({
			'iDisplayLength': 5,
			'bProcessing': true,
			'bServerSide': true,
			'sAjaxSource': '@Url.Action("PagedLogSummary")',
			'aoColumns': [
				{ 'mDataProp': 'Date' },
				{ 'mDataProp': 'Level' },
				{ 'mDataProp': 'Logger' },
				{ 'mDataProp': 'Message' },
				{
					'mDataProp': 'Id',
					'fnRender': function (o, val) {
						return '<button class="jq_zoom" value="' + val + '">Zoom</button>';
					}
				}
			],
			"fnDrawCallback": function (oSettings) {
				$('.jq_zoom')
					.button({ icons: { primary: 'ui-icon-zoomin'} })
					.click(function () {
						$('.jq_dialog').load('@Url.Action("LogDetail")' + '/' + $(this).val(), function () {
							$(this).dialog('open');
						});
					});
			}
		});
	});
</script>
