@{
	ViewBag.Title = "Event Log";
}
<h2>Event Log</h2>
<p>
	Here you can see all gathered log entries.
</p>
<table id="logSummaryDataTable" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="jq_dt_type_json_datetime">
				Date
			</th>
			<th>
				Level
			</th>
			<th>
				Logger
			</th>
			<th class="jq_dt_type_text">
				Message
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div id="logentrydetails_dialog" class="modal hide">
</div>
@section sidebar 
{
	@Html.Partial("_SideBar")
}
<script type="text/javascript">
	$(document).ready(function () {
		$('#logSummaryDataTable').dataTable({
			'iDisplayLength': 5,
			'bProcessing': true,
			'bServerSide': true,
			'sAjaxSource': '@Url.Action("PagedLogSummary")',
			'aoColumns': [
				{ 'mDataProp': 'Date' },
				{ 'mDataProp': 'Level' },
				{ 'mDataProp': 'Logger' },
				{ 'mDataProp': 'Message' },
				{
					'mDataProp': 'Id',
					'fnRender': function (o, val) {
						return '<button class="btn btn-info btn-small jq_zoom" title="Zoom" data-id="' + val + '"><span class="icon-zoom-in icon-white"></span></button>';
					}
				}
			],
			"fnDrawCallback": function () {
				$('button.jq_zoom')
					.click(function () {
						$('#logentrydetails_dialog').load('@Url.Action("LogDetail")' + '/' + $(this).data('id'), function () {
							$(this).modal();
						});
					});
			}
		});
	});
</script>
