@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@section sidebar 
{
    <h2>Sidebar</h2>
    <ul id="sidenav">
        <li><a href="#">Navigate to page 1</a></li>
        <li><a href="#">Navigate to page 2</a></li>
        <li><a href="#">Navigate to page 3</a></li>
        <li><a href="#">Navigate to page 4</a></li>
        <li><a href="#">Navigate to page 5</a></li>
    </ul>
    <h3>Section 1</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan, ipsum non malesuada sagittis, nibh odio sollicitudin est, eget sagittis turpis lorem ut nulla. 
    </p>
    <h3>Section 2</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan, ipsum non malesuada sagittis, nibh odio sollicitudin est, eget sagittis turpis lorem ut nulla. 
    </p>
}
