<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
				<add name="Nebula" connectionString="<%= configatron.connectionstrings.nebula_test %>"/>
		</connectionStrings>
</configuration>