@if (Request.IsAuthenticated)
{
	<div class="btn-group pull-right">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-user icon-white"></span> @User.Identity.Name
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="@Url.Action("MyProfile", "Account")">Settings</a></li>
			<li class="divider"></li>
			<li>
				<a href="@Url.Action("LogOff", "Account")">Sign out</a></li>
		</ul>
	</div>
}
else
{
	<div class="btn-group pull-right">
		<a class="btn btn-primary" href='@Url.Action("LogOn", "Account")'>Sign in</a>
	</div>
}
