@if (Request.IsAuthenticated)
{
	<div class="btn-group pull-right">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
			<span class="icon-user icon-white"></span>
			@User.Identity.Name
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="@Url.Action("MyProfile", "Account")">Settings</a></li>
			<li class="divider"></li>
			<li>
				<a href="@Url.Action("LogOff", "Account")">Sign out</a></li>
		</ul>
	</div>
}
else
{
	<div class="btn-group pull-right">
		<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Sign in
			<span class="caret icon-white"></span>
		</a>
		<div class="dropdown-menu">
			@Html.Partial("MiniLogon")
			<!-- dropdown menu links -->
		</div>
	</div>
}
