@{
	ViewBag.Title = "Event Log";
}
<div class="btn-group pull-right">
	@Html.ActionLink("Purge events > 1 week", "Purge", null, new { @class = "btn btn-danger" })
</div>
<h1>
	Event Log</h1>
<p>
	Here you can see all gathered log entries.
</p>
<table id="logSummaryDataTable" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th class="jq_dt_type_json_datetime">
				Date
			</th>
			<th>
				Level
			</th>
			<th>
				Logger
			</th>
			<th class="jq_dt_type_text">
				Message
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div id="logentrydetails_dialog" class="modal hide" style="display: none">
</div>
@section sidebar 
{
	@Html.Partial("SystemSideBar")
}
<script type="text/javascript">
	$('#logSummaryDataTable').dataTable({
		'iDisplayLength': 5,
		'bProcessing': true,
		'bServerSide': true,
		'sAjaxSource': '@Url.Action("Data")',
		'aoColumns': [
			{ 'mDataProp': 'Date' },
			{ 'mDataProp': 'Level' },
			{ 'mDataProp': 'Logger' },
			{ 'mDataProp': 'Message' },
			{
				'mDataProp': 'Id',
				'fnRender': function (o, val) {
					return '<button class="btn btn-small jq_zoom" title="Zoom" data-id="' + val + '"><span class="icon-zoom-in"></span></button>';
				}
			}
		],
		"fnDrawCallback": function () {
			$('button.jq_zoom')
				.click(function () {
					$('#logentrydetails_dialog')
						.load('@Url.Action("Details")' + '/' + $(this).data('id'), function () {
							$(this).modal();
						});
				});
		}
	});
</script>
