/* standard elements
- -------------------*/
body
{
	background: #FFF 0 0 repeat-x;
	font-family: Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6
{
	margin: 1em 0 0;
}

p, blockquote, pre, q, dl, ol, ul, table
{
	margin-top: .5em;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: lighter;
}

h1
{
	font-size: 2.5em;
	margin: .5em 0 0;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.3em;
}

h4
{
	font-size: 1.2em;
}

h5
{
	font-size: 1.1em;
}

p
{
	margin: 1em 0 0;
	text-align: justify;
}

ol ol, ul ul
{
	margin: 0 0 .2em;
}

a
{
	color: #671;
	text-decoration: none;
}

a:hover, a:active, a:focus
{
	text-decoration: underline;
}

a:visited
{
	color: #563;
}

/* form elements
------------------*/

form fieldset, fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #CCC;
	background-color: #FDFDFD;
}

form label
{
	display: block;
	float: left;
	width: 12em;
	margin-bottom: .5em;
}

div.display-label label 
{
	display: block;
	float: left;
	width: 12em;
	margin-bottom: .5em;
}

form input[type=text], form input[type=password], form textarea
{
	display: block;
	margin: 0 0 .5em;
	color: #333;
	background-color: #FFF;
	border: 1px solid #AAA;
	font-size: 1em;
}

form textarea
{
	width: 40em;
	height: 8.1em;
}

form input[type=text], form input[type=password]
{
	width: 15em;
}

form optgroup
{
	color: #333;
	background-color: #CD7;
	font-style: normal;
	font-size: 1.1em;
}

form option
{
	background-color: #FFF;
	padding: .1em .3em;
}

form input[type=checkbox], form input[type=radio]
{
	display: block;
	clear: both;
	float: left;
	margin: .1em .5em 0 0;
	height: 1em;
	width: 1em;
	color: #333;
}

form input[type=checkbox]
{
	background-color: #DDD;
	border: 1px solid #777;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=checkbox]:focus, form input[type=radio]:focus, form textarea:focus
{
	background-color: #F8FFD7;
	border: 1px solid #CD7;
}

form input[type=button], form input[type=submit], input[type=reset], form button
{
	color: #FFF;
	background: #317f0c url(bg-button.png) repeat-x;
	border: 1px groove #FFF;
	font-size: .9em;
	font-weight: bold;
	cursor: pointer;
 padding:0 5px 2px 5px;
}

form table input[type=text], form table input[type=password], form table textarea
{
	float: none;
	margin: 0;
}

form table label
{
	width: auto;
}

/* page layout
----------------*/
#navbar
{
	background-color: #AC2;
}

#sidebar
{
	border-top-width: 1px;
}

#footer
{
	background-color: #FFF;
	color: #999;
	font-size: .8em;
	text-align: center;
	border-top: 1px solid #D9D9D9;
	margin-top: 20px
}
#loginmenucontainer
{
	color: #BD3;
	float: right;
}

/* header
-----------*/
#header
{
	background: #8B1 url(/Content/bg_header.gif) 0 0 repeat-y;
}

#header h1
{
	padding: 0px .33em 0px;
	color: #FFF;
	margin-bottom: 0px;
}

/* menu
---------*/

ul#menu
{
	margin: 0;
	padding: 0 0 0 .5em;
	list-style: none;
	display: block;
	border-top: 1px solid #BD5;
}

ul#menu li, #loginlink
{
	list-style: none;
	margin: .5em .5em 0 0;
	padding: 0;
	display: inline-block;
}

ul#menu a, #loginlink a
{
	display: block;
	margin: 0;
	padding: .5em 1em;
	color: #455;
	font-weight: bold;
	text-decoration: none;
}

ul#menu a:hover, #loginlink a:hover, ul#menu a:focus, #loginlink a:focus
{
	background-color: #BD3;
	color: #233;
}

ul#menu li.selected a, #loginlink.selected a
{
	background-color: #FBFBFB;
	color: #455;
}

#loginmenucontainer span
{
	font-weight: bold;
	margin-right: 1em;
}

#loginmenucontainer a {
	color: yellow;
}

#loginlink
{
	border-width: 0 0 0 1px;
}
/* content
------------*/

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{
	color: #671;
}

#content h1, h2, h3, h4
{
	margin-bottom: 1em;
	padding-bottom: .5em;
	border-bottom: 1px solid #CD7;
}

#content h3
{
	border-style: dotted;
}

#content h4
{
	border-color: #DDA;
	border-style: dotted;
}

#content h5, #content h6
{
	margin-bottom: 1em;
}

#content ul, #content ol, #sidebar ul, #sidebar ol
{
	padding-left: 2em;
}

#content table
{
	border-collapse: collapse;
}

#content th
{
	background-color: #CD7;
	border: 1px solid #FFF;
	min-width: 3em;
}

#content th, td
{
	padding: .2em .5em;
}

#content td
{
	border: 1px solid #CD7;
}
/* sidebar 
------------*/
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6
{
	color: #671;
}

ul#sidenav
{
	list-style: none;
	padding: 0;
}

ul#sidenav li
{
	list-style: none;
}

ul#sidenav li a
{
	display: block;
	padding: .2em;
	border: 1px solid #EFF9C5;
	border-width: 1px 0;
	text-decoration: none;
}

ul#sidenav li a:hover, ul#sidenav li a:focus
{
	background-color: #E6F0BD;
	border: 1px solid #CD7;
	border-width: 1px 0;
}

ul#sidenav li.selected a
{
	background-color: #E3F0AC;
	border: 1px solid #CD7;
	border-width: 1px 0;
}
/* messages
-------------*/
.field-validation-error
{
	color: #ff0000;
}

.field-validation-valid
{
	display: none;
}

.input-validation-error
{
	border: 1px solid #ff0000;
	background-color: #ffeeee;
}

.validation-summary-errors
{
	font-weight: bold;
	color: #ff0000;
}

.validation-summary-valid
{
	display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
	margin: 1em 0 0 0;
}

.display-field, .editor-field
{
	margin: 0.5em 0 0 0;
}

.text-box
{
	width: 30em;
}

.text-box.multi-line
{
	height: 6.5em;
}

.tri-state
{
	width: 6em;
}
