/* css reset
--------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 11pt;
	vertical-align: baseline;
	background: transparent;
}

body
{
	line-height: 1;
}

ol, ul
{
	list-style-position: outside;
}

ol
{
    list-style-type:decimal;
}

li ol
{
    list-style-type:lower-latin;
}

ul
{
    list-style-type: square;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

/* standard elements
----------------------*/

body
{
    background:#FFF 0 0 repeat-x;
    font-family:Arial,Helvetica,sans-serif
}

h1,h2,h3,h4,h5,h6
{
    font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
    margin: 1em 0 0;
}

p,blockquote,pre,q,dl,ol,ul,table
{
    margin-top:.5em;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: lighter;
}

h1
{
    font-size: 3em;
    margin:.5em 0 0;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size:1.3em;
}

h4
{
    font-size:1.2em;
}

h5
{
    font-size:1.1em;
}

p
{
    margin: 1em 0 0;
    text-align:justify;
}

ol ol, ul ul
{
    margin:0 0 .2em;
}

a, #ajaxlogin a
{
    color:#671;
    text-decoration:none;
}

a:hover, a:active, a:focus
{
    text-decoration:underline
}

a:visited
{
    color:#563;
}

a.external
{
    background:url(/Content/link_external.png)  0 50% no-repeat;
    margin-left:5px;
    padding-left:13px;
}

a.image
{
    background:url(/Content/link_image.png) 0 50% no-repeat;
    margin-left:5px;
    padding-left:13px;
}

a.document
{
    background:url(/Content/link_document.png) 0 50% no-repeat;
    margin-left:5px;
    padding-left:13px;
}

/* form elements
------------------*/

form fieldset
{
    margin:1em 0;
    padding:1em;
    border:1px solid #CCC;
    background-color:#FDFDFD;
}

form label
{
    display: block;
    float: left;
    width: 12em;
    margin-bottom:.5em;
}

form input[type=text], form input[type=password], form textarea
{
    display: block;
    margin: 0 0 .5em;
    color:#333;
    background-color:#FFF;
    border:1px solid #AAA;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1em;
}

form textarea
{
    width: 40em;
    height:8.1em;
}

form input[type=text], form input[type=password]
{
    width: 15em;
}

form optgroup
{
    color:#333;    
    background-color:#CD7;
    font-style:normal;
    font-size:1.1em;
}

form option
{
    background-color:#FFF;
    padding:.1em .3em;
}

form input[type=checkbox], form input[type=radio]
{
    display:block;
    clear:both;
    float:left;
    margin:.1em .5em 0 0;
    height:1em;
    width:1em;
    color:#333;
}

form input[type=checkbox]
{
    background-color:#DDD;
    border:1px solid #777;
}

form input[type=text]:focus, form input[type=password]:focus, form input[type=checkbox]:focus, form input[type=radio]:focus, form textarea:focus
{
    background-color:#F8FFD7;
    border:1px solid #CD7;
}

form input[type=button], form input[type=submit], input[type=reset], form button
{
    padding:.15em;
    font-size: .9em;
}

form table input[type=text], form table input[type=password], form table textarea
{
    float:none;
    margin:0;
}

form table label
{
    width:auto;
}


/* page layout
----------------*/

#container
{
    max-width:980px;
    height:100%;
    margin:1em auto;
    background:#F9F9F9 url(/Content/bg_content.gif) 0 0 repeat-y;
}

#header
{
    margin:0;
    padding:0;    
}

#loginmenucontainer
{
    float:right;
    color:#999;
}

#menucontainer
{
    background-color:#AC2;
}


#content, #ajaxlogin, #sidebar
{
    color:#555;
    letter-spacing:.03em;
    line-height:130%;
}

#content, #ajaxlogin
{
    padding:1em;
}


#content
{
    width: 679px;
    float:left;
    margin-left:1px;
    border-width: 0 1px 1px;
}

#ajaxlogin
{
    display:none;
    padding-top:1em;
    background-color:#EEE;
    border:1px solid #D9D9D9;
}

#sidebar
{
    margin-right:1px;
    padding: 1em 10px;
    width: 247px;   
    float:right;
    background-color:#EFF9C5;
    border-top-width:1px;
}

#footer
{
    clear:both;
    float:none;
    margin:0;
    padding:1em 0 0;
    background-color:#FFF;
    color: #999;
    font-size: .8em;
    text-align: center;
    border-top:1px solid #D9D9D9;
}


/* header
-----------*/

#header h1
{
    margin:0;
    padding:1em .33em .66em;
    color:#FFF;
    background:#8B1 url(/Content/bg_header.gif) 0 0 repeat-y;
    font-weight:bold;
}

/* menu
---------*/

ul#menu
{
    margin:0;
    padding:0 0 0 .5em;
    list-style:none;
    display:block;
    border-top:1px solid #BD5;
}

ul#menu li, #loginlink
{
    list-style:none;
    margin:.5em .5em 0 0;
    padding:0;
    display:inline-block;
}

ul#menu a, #loginlink a
{
    display: block;
    margin:0;
    padding: .5em 1em;
    color:#455;
    font-weight:bold;
    text-decoration:none;
}

ul#menu a:hover, #loginlink a:hover, ul#menu a:focus, #loginlink a:focus
{
    background-color: #BD3;
    color:#233;
}

ul#menu li.selected a, #loginlink.selected a
{
    background-color:#FBFBFB;
    color:#455;
}

#loginmenucontainer span
{
    font-weight: bold;
    margin-right: 1em;
}

#loginlink
{
    border-width: 0 0 0 1px;
}

/* content
------------*/

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6
{
    color:#671;
}

#content h1,h2,h3,h4
{
    margin-bottom:1em;
    padding-bottom:.5em;
    border-bottom:1px solid #CD7;
}

#content h3
{
    border-style:dotted;
}

#content h4
{
    border-color:#DDA;
    border-style:dotted;
}

#content h5, #content h6
{
    margin-bottom:1em;
}

#content ul, #content ol, #sidebar ul, #sidebar ol
{
    padding-left: 2em;
}

#content table
{
    border-collapse:collapse;
}

#content th
{
    background-color:#CD7;
    border:1px solid #FFF;
    min-width:3em;
}

#content th,td
{
    padding:.2em .5em;
}

#content td
{
    border:1px solid #CD7;
}

/* sidebar 
------------*/

ul#sidenav
{
    list-style: none;
    padding:0;
}

ul#sidenav li
{
    list-style:none;
}

ul#sidenav li a
{
    display:block;
    padding:.2em;
    border:1px solid #EFF9C5;
    border-width:1px 0;
    text-decoration:none;
}

ul#sidenav li a:hover, ul#sidenav li a:focus
{
    background-color: #E6F0BD;
    border:1px solid #CD7;
    border-width:1px 0;
}

ul#sidenav li.selected a
{
    background-color:#E3F0AC;
    border:1px solid #CD7;
    border-width:1px 0;
}

/* footer
-----------*/

/* ajax login
---------------*/
#ajaxlogin p
{
    display:block;
    position:relative;
    top:0;
    left:0;
    width:400px;
    margin-top:0;
}

#ajaxlogin form
{
    display: block;
    position:relative;
    top:-2.5em;
    left:450px;
    width:450px;
    margin-bottom:-2.5em;
}

#ajaxlogin input[type=checkbox]
{
    margin-left:8em;
}

#ajaxlogin input[type=submit]
{
    width:7em;
    margin: .5em 0 0 7.5em;
}

#ajaxlogin label
{
    width:7em;
}

#ajaxlogin label[for=rememberMe]
{
    width:10em;
}

#loginlink.ajaxselected
{
    background-color:#EEE;
}

/* messages
-------------*/

div.information, div.error, div.success, ul.validation-summary-errors
{
    margin:1em 0;
    padding:1em;
    font-weight:bold;
}

div.information
{
    color:#C80;
    background-color:#FF9;
    border:1px solid #C80;
}

div.error, ul.validation-summary-errors
{
    color: #C33;
    background-color:#FBB;
    border:1px solid #C33;
}

div.success
{
    color: #671;
    background-color:#CD7;
    border:1px solid #671;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}