@{
	ViewBag.Title = "Change Password successfull";
}
<div class="alert alert-success">
    <h4 class="alert-heading">Successfull mofication</h4>
    Your password has been changed successfully.
</div>
@section sidebar 
{
	@Html.Partial("_SideBar")
}
