@using Nebula.MvcApplication.Helpers
@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>

@section sidebar 
{
    <h2>Actions</h2>
    <ul id="sidenav">
        @Html.SelectedActionLink("Change password","ChangePassword","Account")
    </ul>
}
